<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Master code</title>
</head>
<body>
<main>
  <div class="px-4 py-5 my-5 text-center">
    <img src="img/transaction.png" class="d-block mx-auto mb-4" height="100" alt="Transactions"/>
    <h1 class="display-5 fw-bold">Master code App</h1><!-- Titulo -->
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Sistema de de gestion de transacciones</p><!-- Texto largo - </spam> texto corto -->
      <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href="transactions">Ver transaction por empresa</a><!-- Links -->
      <a type="button" Class="btn btn-primary btn-lg px-4 gap-3" href="transactions/new">Nueva transaccion</a><!-- Links -->
    </div>
  </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>