<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Master Code</title>
</head>
<body>
<main>
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="d-block mx-auto mb-4">Transacciones por empresa</h1>
    <div class="container">
      <div Class="row">
        <div class="col">
          <table class="table table-striped table-primary table-hover table-bordered border-primary table-sm">
            <thead>
            <tr>
              <th>Amount</th>
              <th>Concept</th>
            <!--  <th>Enterprise</th>-->
              <th>Employee</th>
              <th>created_at</th>
              <th>updated_at</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${transactionList.isEmpty()}">
              <td colspan="2"> No transactions Available </td>
            </tr>
            <tr th:each="transactionbyid : ${transactionList}">
              <td><span th:text="${transactionbyid.amount}"> Aomunt </span></td>
              <td><span th:text="${transactionbyid.concept}"> Author </span></td>
             <!-- <td><span th:text="${transactionbyid.enterprise}"> Title </span></td>-->
              <td><span th:text="${transactionbyid.created_at}"> Author </span></td>
              <td><span th:text="${transactionbyid.updated_at}"> Title </span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-8 mx-auto">
      <a type="button" Class="btn btn-primary btn-lg px-4" href="/transactions">Atrás</a>
    </div>
  </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>