<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Transactions</title>
</head>
<body>
<main>
    <div class="container">
        <div class="row">
            <h1>Transactiones by enterprise</h1>
        </div>
        <br>
        <div Class="row">
            <div class="col-lg-3">
                <a th:href="@{/transactions/new}" type="button" Class="btn btn-dark btn-lg px-4">Add transaction</a>
            </div>
        </div>
        <br>
        <table class="table table-striped">
            <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Concept</th>
                <th>Employee</th>
                <th>created_at</th>
                <th>updated_at</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transactionbyid : ${transactionList}">
                <td th:text="${transactionbyid.idTransaction}"></td>
                <td th:text="${transactionbyid.amount}"></td>
                <td th:text="${transactionbyid.concept}"></td>
                <td th:text="${transactionbyid.employee.profile.getName()}+' '+${transactionbyid.employee.profile.getLastName()}"></td>
                <td th:text="${transactionbyid.created_at}"></td>
                <td th:text="${transactionbyid.updated_at}"></td>
            </tr>
            </tbody>
        </table>
        <div>
            <a type="button" Class="btn btn-dark btn-lg px-3" href="/enterprises">Back</a>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>